@font-face {
  font-family: 'Alkatra-Regular';
  src: url('../fonts/Alkatra-Regular.woff2') format('woff2'),
    url('../fonts/Alkatra-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}